<h1>Hi, <%=@user.user_name%>!</h1>
 u

<h1>Your Convoy is, <%=@convoy.title%>!</h1>

<div id='plan'>
	<h1>Your Plan Is</h1>
	<h4>Situation <%=@plan.situation%></h4>
	<h4>Mission <%=@plan.mission%></h4>
	<h4>Execution <%=@plan.execution%></h4>
	<h4>Service and Support: <%=@plan.service_support%></h4>
	<h4>Command and Signal: <%=@plan.command_signal%></h4>
</div>

<form id='plan_edit' action='/plans/<%=@plan.id%>' method='POST'>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <div class="form_row">
        <label for='name'>Situation</label>
        <input type="text" name="situation" id='name' value='<%=@plan.situation%>'>
      </div>  

      <div class="form_row">
        <label for='name'>Mission</label>
        <input type="text" name="mission" id='name' value='<%=@plan.mission%>'>
      </div>

     <div class="form_row">
        <label for='name'>Execution</label>
        <input type="text" name="execution" id='name' value='<%=@plan.execution%>'>
     </div>

     <div class="form_row">
        <label for='name'>Service and Support </label>
        <input type="text" name="service_support" id='name' value='<%=@plan.service_support%>'>
    </div>

    <div class="form_row">
        <label for='name'>Command and Signal </label>
        <input type="text" name="command_signal" id='name' value='<%=@plan.command_signal%>'>
    </div>

      <div class="form_row">
        <input type='submit' value='Update Plan' id='hide'>
      </div>  
</form>



<h1>Add Vehicles</h1>
<form id='add_vehicle' action='/vehicles/<%=@plan.id%>' method='POST'>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <div class="form_row">
        <label for='name'>Vehicle Type</label>
        <input type="text" name="vehicle_type" id='vehicle_type'>
      </div>  

      <div class="form_row">
        <label for='name'>Call Sign</label>
        <input type="text" name="call_sign" id='call_sign' >
      </div>

     <div class="form_row">
        <label for='name'>Serial Number</label>
        <input type="number" name="serial_number" id='serial_number' >
     </div>

     <div class="form_row">
        <label for='name'>Order Of Movement </label>
        <input type="number" name="order_of_movement" id='order_of_movement' >
    </div>

    <div class="form_row">
        <label for='name'>Bumper Number / Tag </label>
        <input type="text" name="bumper_number" id='bumper_number' >
    </div>

      <div class="form_row">
        <input type='submit' value='Make Vehicle'>
      </div>  
</form>

<form  action='/soldiers/<%=@convoy.id%>' method='Post'>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <h4>Add A Soldier</h4>
          <div class="form_row">
              <label for='soldier_name'>Soldier's Name </label>
              <input type="text" name="soldier_name" id='soldier_name'>
          </div>

          <div class="form_row">
              <label for='rank'>Soldier's Rank</label>
              <input type="text" name="rank" id='rank'>
          </div>

          <div class="form_row">
              <label for='position'>Soldier's Position </label>
              <input type="text" name="position" id='position'>
          </div>

          <div class="form_row">
              <label for='vehicle_id'>Vehicle Number </label>
              <select  name="vehicle_id" id='vehicle_id'>
                <% @vehicles.each do |vehicle| %>
                  <option value="<%=vehicle.id%>"><%=vehicle.id%></option>
                <% end %>  
              </select>
          </div>

            <div class="form_row">
              <input type='submit' value='Add Soldier'>
          </div> 
</form> 


<h1>Your Vehicles</h1>

<% @vehicles.each do |vehicle| %>
      <form id='convoy_vehicle' action='/vehicle_update/<%=vehicle.id%>' method='POST'>
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

            <div class="form_row">
              <label for='name'>Vehicle Type</label>
              <input type="text" name="vehicle_type" id='vehicle_type' value='<%=vehicle.vehicle_type%>'>
            </div>  

            <div class="form_row">
              <label for='name'>Call Sign</label>
              <input type="text" name="call_sign" id='call_sign' value='<%=vehicle.call_sign%>'>
            </div>

           <div class="form_row">
              <label for='name'>Serial Number</label>
              <input type="number" name="serial_number" id='serial_number' value='<%=vehicle.serial_number%>'>
           </div>

           <div class="form_row">
              <label for='name'>Order Of Movement </label>
              <input type="number" name="order_of_movement" id='order_of_movement' value='<%=vehicle.order_of_movement%>'>
          </div>

          <div class="form_row">
              <label for='name'>Bumper Number / Tag </label>
              <input type="text" name="bumper_number" id='bumper_number' value='<%=vehicle.bumper_number%>'>
          </div>

            <div class="form_row">
              <input type='submit' value='Update Vehicle'>
            </div>  
                <% @soldiers.each do |soldier| %>
                  <% if soldier.vehicle_id == vehicle.id and soldier.convoy_plan_id == @convoy.id %>
                    <div class="form_row">
                      <p> <%=soldier.rank%> <%=soldier.soldier_name%>: <%=soldier.position%><p>
                      <a href ='/soldier_destroy/<%=soldier.id%>'><button>Delete Soldier</button></a>
                    </div>
                  <% end %> 
              <% end %>  
      </form>
<% end %>  




