<h1>Hi, <%=@user.user_name%>!</h1>

<h1>Your Convoy is, <%=@convoy.title%>!</h1>

<div id='plan'>
	<h1>Your Plan Is</h1>
	<h4>Situation <%=@plan.situation%></h4>
	<h4>Mission <%=@plan.mission%></h4>
	<h4>Execution <%=@plan.execution%></h4>
	<h4>Service and Support: <%=@plan.service_support%></h4>
	<h4>Command and Signal: <%=@plan.command_signal%></h4>
</div>

<form id='plan_edit' action='/plans/<%=@plan.id%>' method='POST'>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <div class="form_row">
        <label for='name'>Situation</label>
        <input type="text" name="situation" id='name' value='<%=@plan.situation%>'>
      </div>  

      <div class="form_row">
        <label for='name'>Mission</label>
        <input type="text" name="mission" id='name' value='<%=@plan.mission%>'>
      </div>

     <div class="form_row">
        <label for='name'>Execution</label>
        <input type="text" name="execution" id='name' value='<%=@plan.execution%>'>
     </div>

     <div class="form_row">
        <label for='name'>Service and Support </label>
        <input type="text" name="service_support" id='name' value='<%=@plan.service_support%>'>
    </div>

    <div class="form_row">
        <label for='name'>Command and Signal </label>
        <input type="text" name="command_signal" id='name' value='<%=@plan.command_signal%>'>
    </div>

      <div class="form_row">
        <input type='submit' value='Update Plan' id='hide'>
      </div>  
</form>

<h1>Your Vehicles</h1>
<table>
  <thead>
    <tr>
      <td>Type</td>
      <td>Call Sign</td>
      <td>Serial Number</td>
      <td>Order Of Movement Number</td>
      <td>Bumper Number</td>
    </tr>
  </thead>
  <tbody>
  <% @vehicles.each do |vehicle| %>
    <tr><%= vehicle.type %></tr>
    <tr><%= vehicle.call_sign %></tr>
    <tr><%= vehicle.serial_number %></tr>
    <tr><%= vehicle.order_of_movement %></tr>
    <tr><%= vehicle.bumper_number %></tr>
  <% end %>  
  </tbody>
</table>


